---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Imran"
        seoTitle="Imran Khan Software Engineer"
        seoDesc="An introduction about Imran"
>
    <div class="w-6/12 mx-auto">
        <h1 class="text-5xl">About</h1>
        <img src="/" class="my-2 shadow-md drop-shadow-[10px_10px_35px_rgba(39,245,131,0.3)]"/>
        <section>
            <h2>Who Am I?</h2>
            <p>I am Imran Khan, a passionate front-end developer on a mission to transform ideas into visually stunning and seamlessly functional web experiences. With a keen eye for design and an obsession with clean code, I thrive in the dynamic realm where technology and creativity intersect.</p>
            <br />
            <h2>What Drives Me?</h2>
            <p>Driven by an insatiable curiosity and a love for pushing boundaries, I am committed to staying at the forefront of the ever-evolving web landscape. My journey involves not only writing impeccable code but also sculpting user interfaces that leave a lasting impression.</p>
            <br />
            <h2>My Toolbox:</h2>
            <p>In my toolkit, you'll find a mastery of front-end technologies, including HTML, CSS, and JavaScript. I wield the power of modern frameworks like React, Angular, Vue.js and Stencil.js, sculpting dynamic and responsive interfaces that captivate users across devices.</p>
            <br />
            <h2>Beyond the Code:</h2>
            <p>I believe in the synergy of technology and empathy. Beyond the lines of code, I am an advocate for user-centric design and accessibility, ensuring that every digital journey is inclusive and delightful.</p>
            <br />
            <h2>Why Choose Me?</h2>
            <p>Collaboration is at the heart of my process. I thrive in interdisciplinary teams, seamlessly translating ideas from designers and stakeholders into living, breathing web experiences. Whether it's optimizing performance, implementing cutting-edge features, or solving complex problems, I'm here to elevate your digital presence.</p>
            <br />
            <h2>Let's Build Something Amazing Together:</h2>
            <p>Embark on a digital journey with me where innovation knows no bounds. Whether you're envisioning a sleek web application, a captivating portfolio, or an interactive user interface, let's turn your ideas into pixel-perfect reality.</p>
            <br />
            <p>Ready to redefine your digital experience? <a href="#">Let's code the future together!</a></p>
            <br />
            <p><a href="#">Connect with me on LinkedIn</a> | <a href="#">Check out my GitHub</a></p>
        </section>
    </div>
</Layout>
