---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from "../components/Header.astro"

---

<Layout
	title="Astro Portfolio"
	seoTitle="Imran Khan - Software Engineer"
	seoDesc="Software Engineer expertise in Front-End Development">
	<main>
		<Header />
	<!-- Cards -->
	<!--	<div class="2-8/12 lg:w-4/12 mx-auto">-->
	<!--		<h1 class="text-5xl my-2">Projects</h1>-->
	<!--		<div>-->
	<!--			<p class="instructions">-->
	<!--				A selection of my projects-->
	<!--			</p>-->
	<!--			<ul role="list" class="link-card-grid">-->
	<!--				<Card-->
	<!--					href="/projects/documentation"-->
	<!--					title="Documentation"-->
	<!--					body="Learn how Astro works and explore the official API docs."-->
	<!--				/>-->
	<!--				<Card-->
	<!--					href="/projects/integrations"-->
	<!--					title="Integrations"-->
	<!--					body="Supercharge your project with new frameworks and libraries."-->
	<!--				/>-->
	<!--				<Card-->
	<!--					href="/projects/themes"-->
	<!--					title="Themes"-->
	<!--					body="Explore a galaxy of community-built starter themes."-->
	<!--				/>-->
	<!--				<Card-->
	<!--					href="/projects/chat"-->
	<!--					title="Community"-->
	<!--					body="Come say hi to our amazing Discord community. ❤️"-->
	<!--				/>-->
	<!--			</ul>-->
	<!--		</div>-->
	<!--	</div>-->

		<div class="relative px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default max-w-7xl mx-auto">
			<div class="grid sm:gap-y-8 lg:grid-cols-3 sm:grid-cols-2 gap-4 md:gap-6">
				<div class="relative flex flex-col rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6">
					<img src="https://www.svgrepo.com/show/493719/react-javascript-js-framework-facebook.svg"
						 class="w-12 h-12 mb-6 text-primary"
						 alt="react"
					/>
					<div class="text-xl font-bold">Headers</div>
					<p class="text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>

				<div class="relative flex flex-col rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6">
					<img src="https://www.svgrepo.com/show/303494/vue-9-logo.svg"
						 class="w-12 h-12 mb-6 text-primary"
						 alt="vue"
					/>
					<div class="text-xl font-bold">Headers</div>
					<p class="text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>

				<div class="relative flex flex-col rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6">
					<img src="https://seeklogo.com/images/A/astro-icon-logo-44253BACEE-seeklogo.com.png"
						 class="w-12 h-12 mb-6 text-primary"
						 alt="astro"
					/>
					<div class="text-xl font-bold">Headers</div>
					<p class="text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div>
		</div>

	</main>
</Layout>

<!-- Typed js animation on text -->
<script>
	import Typed from "typed.js";

	let typed = new Typed('#typed', {
		stringsElement: '#typed-strings',
		typeSpeed: 50,
		loop: true,
	});
</script>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
