---
import Head from "./Head.astro"
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string;
	seoTitle: string;
	seoDesc: string;
}

const { title, seoTitle, seoDesc } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Head title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
	</head>
	<body class="text-white grid gap-0 h-14 bg-gradient-to-b from-black to-blue-700">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--accent: 0, 110, 255;
		--accent-light: 0, 225, 225;
		--accent-dark: 0, 27, 61;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	body {
		font-family: "Roboto Slab", sans-serif;
		min-height: 100vh;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
